@import url('https://fonts.googleapis.com/css2?family=Alice&family=Bellefair&family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding:0;
    margin:0;
    overflow-x:hidden;
    box-sizing: border-box;
    flex-shrink: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

a, p {
    text-decoration: none;
    color:black;
    font-size: 1.1rem;
    font-weight:200; 
}

::placeholder {
    color: #A9A9AC
}


.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-top, .nav-right, .intro-section, .intro-section > div, .systems-section, .systems-section>div, .info-card, .about-section, .section-1, .section-2, .section-3, .info-card-mask, .about-content, .about-intro, .about-title, .about-subtitle, .about-mvv, .active, .values-top, .values-top > div, .values-bottom, .values-bottom > div, .contact-section, .contact-left, .contact-right, .forms, .forms > div, .contact-wrapper, .form-title, .send-btn, .send-btn > div, .problem-section, .problems, .solution, .problems > div, .solution > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-top, .blank {
    justify-content: space-between;
    width:100%;
    position:fixed;
    box-shadow: 0px -5px 10px 6px rgba(0, 0, 0, 0.4);
    background-color: white;
    flex-wrap: wrap;
    padding: 1rem 10vw;
    top:0;
    z-index:999;
}
.blank {
    position:relative;
    z-index:1000;
    height:6.7rem;
    width:0;
    padding:0;
    box-shadow: none;
}
.nav-right {
    gap:2rem;
    flex-shrink:0;
    white-space: nowrap;
}
.nav-right a:not(.btn a) {
    padding:0.3rem;
}
a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    text-decoration-color: black;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn a {
    text-decoration:none;
    color:rgb(0, 0, 0);
    border: 2px solid #07A3B2;
    padding:1rem 0.8rem;
}



span {
    color:#07A3B2;
}

.intro-section {
    justify-content: space-between;
    width:100%;
    flex-wrap: nowrap;
    padding:0 13rem;
    background-color: #F4F4F4;
}
.intro-image {
    padding-top:5rem;
    padding-bottom:5rem;
}
.intro-text {
    display:flex;
    flex-direction: column;
    gap:1.5rem;
}
.intro-left {
    justify-content: start;
    flex-direction: column;
    gap:1rem;
}
p.title{
    font-size:4rem;
    white-space: nowrap;
}
.intro-text p.title {
    line-height: 1;
    overflow: visible;
    height:auto;
}
p.subtitle {
    width:700px;
}
.intro-buttons {
    flex-direction: row;
    display: flex;
    justify-content: start;
    align-items: center;
    width:100%;
    gap:1rem;
}
.btn.intro-1 a{
    background-color:#07A3B2;
    color: white;
}

.systems-section{
    background-color:#ffffff;
    width:100%;
    justify-content: space-between;
    padding:0 17rem;
    padding-bottom:10rem;
}
.systems-img {
    padding-top:5rem;
}
.problem-section {
    flex-direction: column;
    padding-top:5rem;
    background-color: white;
    width:100%;
    padding-bottom:5rem;
}
.problems, .solution {
    gap:2rem;
}
.problems {
    padding-left: 13rem;
}
.solution {
    padding-right: 13rem;
}
.problems > div{
    flex-direction: column;
    padding:2rem;
    align-items: start;
    gap:1rem;
 }
.solution > div {
    align-items: end;
    flex-direction: column;
    padding:2rem;
    gap:1rem;
 }

 .problems > div .title, .solution > div .title {
    font-size:1.3rem;
    border-radius: 50px;
    padding:1rem 2rem;
    color:white;
    background-color: #07A3B2;
    width:auto;
 }
 
.problems {
    width:100%;
    justify-content: start;
}
.problems p.subtitle, .solution p.subtitle {
    width: 500px;
    text-align: justify;
    text-align-last:left;
    border-radius: 15px;
    box-shadow: -6px 6px 10px 0px rgba(0, 0, 0, 0.2);
    padding:2rem;
}
.solution p.title {
    background: none;
    border: 2px solid #07A3B2;
    color: #07A3B2;
}

.solution p.subtitle {
    background-color: #07A3B2;
    color:white;
}
.solution {
    width:100%;
    justify-content: end;
}
.solution p.subtitle {
    text-align-last:right;
}


.system.title p {
    font-size: 2.5em;
    width:700px;
    line-height: 50px;
    height:110px;
}
.system-text {
    flex-direction: column;
    justify-content: start;
    gap:1rem;
}
.system.subtitle {
    width:100%;
}
.system.subtitle ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:0.6rem;
}
.system.subtitle ul > li {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap:0.6rem;
}
.system.subtitle ul > li p {
    width:40rem;
    text-align: justify;
}
.about-section {
    width:100%;
    height:auto;
    background-color: #F4F4F4;
    align-items: normal;
    overflow: visible;
    flex-direction: column;
    align-items: center;
}

.info-card {
    overflow:visible;
    height:300px;
    width:800px;
    background-color: #9FDFE3;
    border-radius: 15px;
    position: relative;
    bottom:5rem;
    z-index:1;
    right:1.2rem;
    box-shadow: -6px 6px 10px 0px rgba(0, 0, 0, 0.2);
}
  
.info-card-mask {
    height:100%;
    width:100%;
    background-color: #67C5CA;
    border-radius: 15px;
    position: absolute;
    gap:3rem;
    left:1.2rem;
    bottom:1.2rem;
    
}

.info-card-mask > div{
    flex-direction: column;
    height:260px;
    width:200px;
    justify-content: start;
    gap:0.6rem;
    padding-top:1.2rem;
}
.info-card-mask p {
    color:white;
    text-align: justify;
    text-align-last:center;
    font-size:1rem;
}
p.info-title {
    font-weight:600;
    font-size:1.2rem;
}
hr.hl {
    border-top: 1px solid #000000;
    width:80%;

}
.about-content {
    align-items: center;
    justify-content: center;
    gap:2rem;
    flex-direction: column;
    width:100%;
    height:auto;
    padding:5rem;

}

.about-intro {
    flex-direction: column;
    gap:0.6rem;
}
.about-title p {
    font-size:3rem;
    font-weight:600;
    white-space: pre;
}

.about-subtitle p {
    width:800px;
    text-align: justify;
    text-align-last:center;
}
.about-mvv {
    width:100%;
    align-items: start;
}
.btn-mission a, .btn-vision a {
    border-right: 0;
}
.about-mvv a {
    padding:1rem 1.5rem;
}

.vl {
    border-left: 1px solid rgb(0, 0, 0);
}

.active .vl {
    height:300px;
}

.active.values, .active.vision, .active.mission {
    opacity:100%; 
}  
.active {
    padding:3rem;
    text-align: center;
    gap:3rem;
    border-radius: 0px;
    background-color: #ffffff;
    box-shadow: -6px 6px 10px 0px rgba(0, 0, 0, 0.2);
}


.active p{
    color:#000000;
    font-size:1rem;
    width:400px;
    text-align: center;
    text-align-last:center;
}
.values-top, .values-bottom {
    gap:2rem;
    width:100%;
    align-items: start;
}

.values-top > div{
    flex-direction: column;
    align-items: start;
}

p.values-title{
    font-size:2rem;
    font-weight:200;
    width:100%;
}

.values-bottom > div{
    flex-direction: column;

}

p.values-subtitle {
    width:300px;
}
.values {
    display:none;
    flex-direction: column;
}
.mission {
    flex-direction: row;
    display:none;
}
.vision {
    display:none;

}
.contact-wrapper {
    overflow:hidden;
}
.contact-section {
    text-align: center;
    padding:5rem;
    width:100%;
    gap:10rem;
}
.contact-section p.title {
    font-size: 2.5rem;
}

.contact-left {
    flex-direction: column;
    height:100%;
    background-color: #ffffff;
    box-shadow: -6px 6px 10px 0px rgba(0, 0, 0, 0.2);
    padding:3rem;
    gap:3rem;
    align-items: center;
    
}

.forms {
    flex-direction: column;
    gap:1.2rem;
    
}
.name-form, .info-form {
    gap:1.2rem;
}
.name-form input, .info-form input {
    width:250px;
}

.contact-section input, textarea {
    height:40px;
    background: none;
    outline:none;
    border: 0;
    border-bottom: 2px solid #A9A9AC;
    font-family: 'Open Sans', sans-serif;    
}
.contact-section select {
    height:40px;
    background: none;
    outline:none;
    border: 0;
    border-bottom: 2px solid #A9A9AC;
    font-family: 'Open Sans', sans-serif;    
    color: #A9A9AC;
    width:100%;
}

.contact-section textarea {
    width:100%;
    height:250px;
    font-size: 0.8rem;
    resize: vertical;
}
#submit-btn {
    color:white;
    background:#07A3B2;
    border: 2px solid #07A3B2;
    padding:1rem 2rem;
    font-weight: 200;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}
.contact-wrapper {
    flex-direction: column;
}

.contact-left div .subtitle {
    width:500px;
}

.send-btn, .send-btn > div {
    width:100%;
    justify-content: start;
    align-items: start;
}
.form-title {
    flex-direction: column;
}
footer {
    height:200px;
    width:100%;
    background-color: #07A3B2;
}

/* Initial state for elements to be animated */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Final state for elements when they are in view */
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}